.wrap{
    .container{
        .infobox{
            display: flex;
            justify-content: center;
            margin: 30px 0;
            .content{
                width: 40%;
                padding: 20px;
                margin: auto 0;
                .heading{
                    font-size: 2rem;
                    display: flex;
                    position: relative;
                    color:#ff9900;
                    .num::after{
                        content: '';
                        position: absolute;
                        top: 48%;
                        bottom: 0px;
                        border-left: 100px solid #ff9900;
                        height: 2px;
                        left: 40px;
                    }
                    .title{
                        position: absolute;
                        left: 150px;
                    }
                }
                .text{
                    margin-top: 25px;
                    font-size: 1.2rem;
                }
            }
            .img-bg{
                width: 50%;
                img{
                    max-width: 100%;
                }
            }
        }
        .recommend{
            flex-direction: row-reverse;
        }
        .news{
            .img-bg{
                position: relative;
                .slide{
                    .newstext,.date{
                        text-align: center;
                        font-weight: bolder;
                    }
                    .newstext{
                        line-height: 20px;
                        font-size: 1.2em;
                    }
                    .date{
                        font-size: 1.1em;
                        color:#b7511d;
                    }
                }
            }
        }
    }
    .coupon{
        background-image: url('https://cdn.pixabay.com/photo/2017/07/21/23/33/map-2527413_960_720.jpg');
        padding: 30px;
        height: 300px;
        width: 100%;
        background-position-y: 55%;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        .container{
            background-color: #f9e8d094;
            padding: 20px;
            .title{
                font-size: 3em;
                font-weight: bolder;
                margin: 10px;
            }
            .content{
                margin: 10px;
                font-size:1.5em;
                font-weight: bolder;
            }
            .inputArea{
                position: relative;
                display: flex;
                flex-wrap: wrap;
                align-items: stretch;
                margin-left: 10px;
                margin-top: 20px;  
                line-height: 30px;
                .email{
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    border: 1px solid #eee;
                    width: 250px;
                    padding-left: 5px;
                    font-size: 1.1em;
                }
                .send{
                    border: 1px solid #a46843;
                    background-color: #a46843;
                    margin-left: -1px;
                    color:#fff;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    width: 50px;
                    &:hover {
                        background-color: #7a4e33;
                      }
                }
                
            }
        }
    }
}

/* pad版 */
@media (max-width: 768px){
    .wrap{
        .container{
            .infobox{
                .content{
                    .heading{
                        font-size: 1.5rem;
                        .num::after{
                            top: 45%;
                            bottom: 0px;
                            border-left: 80px solid #ff9900;
                            height: 2px;
                            left: 35px;
                        }
                        .title{
                            left: 125px;
                        }
                    }
                    .text{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

/* mobile版 */
@media (max-width: 414px){
    .wrap{
        .container{
            .infobox{
                display: block;
                margin: 0;
                padding: 10px;
                .content{
                    width: 100%;
                    padding-bottom: 10px;
                    .text{
                        margin-top: 15px;
                    }
                }
                .img-bg{
                    width: 80%;
                    margin: 0 auto;
                }
            }
            .recommend{
                .go{
                    margin: 10px 0 !important;
                }
            }
        }
    }
}