@charset "UTF-8";
body {
  font-family: 'Balsamiq Sans','微軟正黑體',  cursive;
}

.banner {
  background-image: url(https://github.com/siaoliu66/ShibaDinn/blob/main/src/assets/img/menubanner.png?raw=true);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 350px;
}

.menu_wrap .menu_container .container .productlink:hover, .wrap .menu_container .container .productlink:hover {
  text-decoration: none;
}

.menu_wrap .menu_container .container .productlink:hover .card, .wrap .menu_container .container .productlink:hover .card {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.menu_wrap .menu_container .container .card .card-body, .wrap .menu_container .container .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  margin: 5px;
  color: #000;
}

.menu_wrap .menu_container .container .card .card-body .card-title, .menu_wrap .menu_container .container .card .card-body .h5, .wrap .menu_container .container .card .card-body .card-title, .wrap .menu_container .container .card .card-body .h5 {
  margin-bottom: 0;
  font-size: 1.1em;
}

.menu_wrap .menu_container .container .card .card-body .badge, .wrap .menu_container .container .card .card-body .badge {
  font-size: 1em;
  font-weight: normal;
  position: absolute;
  top: 8px;
  left: 5px;
}

.menu_wrap .menu_container .container .card .card-footer, .wrap .menu_container .container .card .card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 0px;
  padding: 0px;
  margin: 5px 10px;
}

.menu_wrap .menu_container .container .card .card-footer .btn-outline-danger, .wrap .menu_container .container .card .card-footer .btn-outline-danger {
  border: 1px solid #8f4c0e;
  color: #8f4c0e;
}

.menu_wrap .menu_container .container .card .card-footer .btn-outline-danger:hover, .wrap .menu_container .container .card .card-footer .btn-outline-danger:hover {
  background-color: #8f4c0e;
  color: #fff;
}

.menu_wrap .menu_container .container .card .card-footer .FavBtn, .wrap .menu_container .container .card .card-footer .FavBtn {
  margin-right: 10px;
}

.menu_wrap .menu_container .container .card .card-footer .cartBtn, .wrap .menu_container .container .card .card-footer .cartBtn {
  width: 100%;
}

.menu_wrap .menu_container .kind_nav, .wrap .menu_container .kind_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  z-index: 2;
  background-color: #fdfaf6;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.menu_wrap .menu_container .kind_nav .nav-item, .wrap .menu_container .kind_nav .nav-item {
  font-size: 1.1em;
  width: 130px;
  text-align: center;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu_wrap .menu_container .kind_nav .nav-item:hover, .wrap .menu_container .kind_nav .nav-item:hover {
  background-color: #faf0e3;
}

.menu_wrap .menu_container .kind_nav .nav-item .nav-link, .wrap .menu_container .kind_nav .nav-item .nav-link {
  color: #8f4c0e;
}

.menu_wrap .menu_container .kind_nav .active, .wrap .menu_container .kind_nav .active {
  border-bottom: 1px solid #8f4c0e;
}

.menu_wrap .fav, .wrap .fav {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 37%;
  right: 5%;
  padding: 5px;
  border: 1px solid;
}

@media (max-width: 768px) {
  .hideicon {
    display: none;
  }
}

@media (max-width: 475px) {
  .menu_wrap .kind_nav .nav-item {
    font-size: 1em;
  }
  .menu_wrap .kind_nav .nav-item .nav-link {
    padding: 0.5rem 0;
  }
  .menu_wrap .container {
    margin-top: 25px;
  }
}
/*# sourceMappingURL=menu.css.map */