.banner{
    background-image: url(https://cdn.pixabay.com/photo/2017/06/06/22/46/mediterranean-cuisine-2378758_960_720.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 350px;
}
.wrap{
    .breadcrumb{
        background: none;
    } 
    h2 {
    font-size: 2.5em;
    font-weight: 600;
    text-align: center;
    margin: 30px;
    &::before{
        content: "";
        position: relative;
        top: 15px;
        left: 32%;
        display: block;
        width: 50px;
        height: 2px;
        background-color: #A46843;
        transition: width .4s .3s;
    }
    &::after {
        content: "";
        position: relative;
        top: -21px;
        left: 62%;
        display: block;
        width: 50px;
        height: 2px;
        background-color: #A46843;
        transition: width .4s .3s;
    }
  }
  .intro,.contact{
    width: 80%;
    margin: 30px auto;
  }
  .intro{
    h3{
        font-size: 1.2em;
        font-weight: 900;
        margin-bottom: 10px;
        &::before{
            content: "";
            width: 100px;
            height: 2px;
            background-color: #A46843;
            position: relative;
            top: 20px;
            left: 0px;
            display: block;
        }
    }
    .intro-1{
        display: flex;
        justify-content: space-around;
        .introText{
            width: 55%;
            padding: 10px;
            p{
                line-height: 30px;
                font-size: 1.1em;
            }
        }
        .img{
            width: 40%;
            img{
                width: 100%;
            }
        }
    }
    }
  .contact{
    h3{
        font-size: 1.2em;
        font-weight: 900;
        margin-bottom: 10px;
        &::before{
            content: "";
            width: 70px;
            height: 2px;
            background-color: #A46843;
            position: relative;
            top: 20px;
            left: 0px;
            display: block;
        }
    }
    .contact-1{
        display: flex;
        justify-content: space-between;
        iframe{
            margin-top: 15px; 
            border-radius: 5px;
            width: 45%;
            height: 300px;
        }
        .contactText{
            width: 45%;
            .contactTitle{
                font-size: 1.1em;
                margin: 10px 0;
                padding-left: 10px;
                &::before{
                    content: "";
                    width: 2px;
                    height: 20px;
                    background-color: #A46843;
                    display: block;
                    position: relative;
                    top: 15px;
                    left: -5px;
                }
            }
            p{
                margin-left: 12px;
                a{
                    overflow: hidden;
                    text-indent: 101%;
                    white-space: nowrap;
                    display: block;
                    height: 60px;
                    width: 120px;
                    float: left;
                    margin-right: 15px;
                }
                .icon-uber{
                    background-image: url("~@/assets/img/UberEats.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
                .icon-foodpanda{
                    background-image: url("~@/assets/img/foodpanda.jpeg");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
            }
        }
    }
  }
}


@media (max-width: 992px){
    .wrap{
        .container{
            h2{
                &::before{
                    left: 25%;
                }
                &::after{
                    left: 68%;
                }
            }
        }
    }
}

@media (max-width: 768px){
    .wrap{
        .container{
            h2{
                &::before{
                    left: 15%;
                }
                &::after{
                    left: 71%;
                }
            }
            .intro{
                .intro-1{
                    flex-direction: column-reverse;
                    .introText,.img{
                        width: 100%;
                    }
                }
            }
            .contact{
                .contact-1{
                    flex-direction: column;
                    iframe{
                        width: 100%;
                        height: 250px;
                    }
                    .contactText{
                        width: 100%;
                        .contactTitle{
                            margin: 0;
                            &::before{
                                top: 17px;
                                left: -10px;
                            }
                        }
                        p{
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 414px){
    .wrap{
        .container{
            margin-top: 50px;
            .breadcrumb{
                margin-bottom: 0px;
            }
            h2{
                display: none;
            }
            .row{
                margin-top: 0px;
            }
        }
    }
}
