h2 {
    font-size: 2.5em;
    font-weight: 600;
    text-align: center;
    margin: 30px;
    &::before{
        content: "";
        position: relative;
        top: 15px;
        left: 32%;
        display: block;
        width: 50px;
        height: 2px;
        background-color: #A46843;
        -webkit-transition: width .4s .3s;
        transition: width .4s .3s;
    }
    &::after {
        content: "";
        position: relative;
        top: -21px;
        right: -62%;
        display: block;
        width: 50px;
        height: 2px;
        background-color: #A46843;
        transition: width .4s .3s;
    }
  }
  .intro,.contact{
    width: 80%;
    margin: 30px auto;
  }
  .intro{
    h3{
        font-size: 1.2em;
        font-weight: 900;
        margin-bottom: 10px;
        &::before{
            content: "";
            width: 100px;
            height: 2px;
            background-color: #A46843;
            position: relative;
            top: 20px;
            left: 0px;
            display: block;
        }
    }
    .intro-1{
        display: flex;
        justify-content: space-around;
        .introText{
            width: 55%;
            padding: 10px;
            p{
                line-height: 30px;
                font-size: 1.1em;
            }
        }
        .img{
            width: 40%;
            img{
                width: 100%;
            }
        }
    }
    }
  .contact{
    h3{
        font-size: 1.2em;
        font-weight: 900;
        margin-bottom: 10px;
        &::before{
            content: "";
            width: 70px;
            height: 2px;
            background-color: #A46843;
            position: relative;
            top: 20px;
            left: 0px;
            display: block;
        }
    }
    .contact-1{
        display: flex;
        justify-content: space-between;
        iframe{
            margin-top: 15px; 
            border-radius: 5px;
            width: 45%;
            height: 300px;
        }
        .contactText{
            width: 45%;
            .contactTitle{
                font-size: 1.1em;
                margin: 10px 0;
                padding-left: 10px;
                &::before{
                    content: "";
                    width: 2px;
                    height: 20px;
                    background-color: #A46843;
                    display: block;
                    position: relative;
                    top: 15px;
                    left: -5px;
                }
            }
            p{
                margin: 12px;
                a{
                    overflow: hidden;
                    text-indent: 101%;
                    white-space: nowrap;
                    display: block;
                    height: 45px;
                    width: 120px;
                    float: left;
                    margin-right: 15px;
                }
                .icon-uber{
                    background-image: url("~@/assets/img/Uber Eats.jpg");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
                .icon-foodpanda{
                    background-image: url("~@/assets/img/foodpanda.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
            }
        }
    }
  }

  
  
  .newscontent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    .newslist {
        width: 30%;
        height: 250px;
        margin: 1%;
        border: 1px solid;
        border-radius: 5px;
        img {
            height: 170px;
            width: 100%;
        }
        .title,.content {
            padding: 0 5px;
            margin-top: 10px;
        }
    }
}

